{deps, [
 {parse_trans, ".*", {git, "git://github.com/esl/parse_trans.git", {tag, "2.5.2"}}}
]}.

%% XRef checks to run.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, {deprecated_function_calls, warning}
              ]}.
{xref_lib_path, app_file}.
{xref_ignore_modules, []}.
{erl_opts, [debug_info]}.
